@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

html {
  direction: rtl;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.wiggle {
  animation-name: wiggle;
  transform: rotate(5deg);
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
}

:root {
  --font-family-sans-serif: 'Heebo';
  --top-navbar-height: 0px;
  --bottom-navbar-height: 0px;
}

body, .tooltip, .popover {
  font-family: 'Heebo', sans-serif !important;
}

.nothing {
  user-select: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.app {
  height: calc(100vh - var(--top-navbar-height) - var(--bottom-navbar-height));
  overflow-y: scroll;
}

.nothing img {
  
}

label.custom-control-label {
  cursor: pointer;
}

.fas, .far {
  margin-left: 8px;
}

.fas.nm, .far.nm {
  margin-left: 0px;
}

.ltr.fas, .ltr.far {
  margin-left: 0px;
  margin-right: 8px;
}

#top-nav {
  position: sticky !important;
  top: 0 !important;
}

main {
  width: 100%;
}

.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h2 img {
  user-select: none;
  margin-left: 10px;
}

#top-nav.bg-light {
  background-color: #99E1ED !important;
}

.entry-selectable {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
  #background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  /* KEYFRAMES */
  
  @-webkit-keyframes animateCloud {
      0% {
          margin-left: -1000px;
      }
      100% {
          margin-left: 100%;
      }
  }
  
  @-moz-keyframes animateCloud {
      0% {
          margin-left: -1000px;
      }
      100% {
          margin-left: 100%;
      }
  }
  
  @keyframes animateCloud {
      0% {
          margin-left: -3000px;
      }
      100% {
          margin-left: 100%;
      }
  }
  
  /* ANIMATIONS */
  
  .x1 {
    -webkit-animation: animateCloud 90s linear infinite;
    -moz-animation: animateCloud 90s linear infinite;
    animation: animateCloud 90s linear infinite;
    
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
  }
  
  .x2 {
    -webkit-animation: animateCloud 170s linear infinite;
    -moz-animation: animateCloud 170s linear infinite;
    animation: animateCloud 170s linear infinite;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  .x3 {
    -webkit-animation: animateCloud 200s linear infinite;
    -moz-animation: animateCloud 200s linear infinite;
    animation: animateCloud 200s linear infinite;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  
  .x4 {
    -webkit-animation: animateCloud 220s linear infinite;
    -moz-animation: animateCloud 220s linear infinite;
    animation: animateCloud 220s linear infinite;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  
  .x5 {
    -webkit-animation: animateCloud 120s linear infinite;
    -moz-animation: animateCloud 120s linear infinite;
    animation: animateCloud 120s linear infinite;
    
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
  }
  
  /* OBJECTS */
  
  .cloud {
    background: #fff;
    background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
    background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
    background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
    background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  
    height: 120px;
    position: relative;
    width: 350px;
  }
  
  .cloud:after, .cloud:before {
      background: #fff;
    content: '';
    position: absolute;
  }
  
  .cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
  }
  
  .cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
  }

.phoneButtons{
    display : none
}

.filterButton{

}

.chosenFilterButton{

}

@media screen and (max-width: 600px) {
    .phoneButtons{
        display: block; 
        font-size: 50px;               
    }

    .phoneButtons i {
        margin: 10px 10px 10px 10px;
    }
}