@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

html {
  direction: rtl;
  overflow-y: scroll;
}

:root {
  --font-family-sans-serif: 'Heebo';
}

body, .tooltip, .popover {
  font-family: 'Heebo', sans-serif;
}

#top-nav.bg-light {
  background-color: #99E1ED !important;
}

.entry-selectable {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }