@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

html {
  direction: rtl;
  overflow-y: scroll;
}

:root {
  --font-family-sans-serif: 'Heebo';
}

body, .tooltip, .popover {
  font-family: 'Heebo', sans-serif !important;
}

.fas.fa-sign-out-alt, .far.fa-user-circle, .far.fa-calendar-times, .far.fa-sticky-note, .far.fa-calendar-check, .fas.fa-bell {
  margin-left: 8px;
}

#top-nav {
  position: sticky !important;
  top: 0 !important;
}

h2 img {
  user-select: none;
}

main {
  width: 100%;
}

.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#top-nav.bg-light {
  background-color: #99E1ED !important;
}

.entry-selectable {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }